@page "/edit-event/{id}"
@model Reserve.Pages.Event.EditEventModel
@using Microsoft.Extensions.Localization
@using Reserve.Core.Features.Event
@using Reserve.Core
@inject IStringLocalizer<EventLocalization> eL
@inject IStringLocalizer<Global> gL
<<h1 class="event-title">@eL["edit-event"]</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="EditEvent!.Id" type="hidden" />
    <input asp-for="EditEvent!.CurrentCapacity" type="hidden" />
    <input asp-for="EditEvent!.ImageUrl" type="hidden" />
    <div class="title-icon mb-lg-3 subtitle-font">
        <svg class="svg-creation" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
        <h2>@eL["basic-info"]</h2>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.Title">@eL["event-title-label"]</label>
        <input class="form-control" type="text" asp-for="EditEvent!.Title" name="EditEvent.Title" placeholder="@eL["event-title-placeholder"]" />
        <span asp-validation-for="EditEvent!.Title" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.OrganizerName">@eL["organizer-name-label"]</label>
        <input class="form-control" type="text" asp-for="EditEvent!.OrganizerName" name="EditEvent!.OrganizerName" placeholder="@eL["organizer-name-placeholder"]" />
        <span asp-validation-for="EditEvent!.OrganizerName" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.OrganizerEmail">@eL["organizer-email-label"]</label>
        <input class="form-control" asp-for="EditEvent!.OrganizerEmail" name="EditEvent!.OrganizerEmail" type="text" placeholder="@eL["organizer-email-placeholder"]" />
        <span asp-validation-for="EditEvent!.OrganizerEmail" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.Description">@eL["description-label"]</label>
        <textarea class="form-control" asp-for="EditEvent!.Description" name="EditEvent!.Description" placeholder="@eL["description-placeholder"]"></textarea>
        <span asp-validation-for="EditEvent!.Description" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.MaximumCapacity">@eL["maximum-capacity-label"]</label>
        <input class="form-control" asp-for="EditEvent!.MaximumCapacity" name="EditEvent!.MaximumCapacity" type="number" placeholder="@eL["maximum-capacity-placeholder"]" />
        <span asp-validation-for="EditEvent!.MaximumCapacity" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 body-font">
        <label class="form-label" asp-for="EditEvent!.Location">@eL["location-label"]</label>
        <input class="form-control" asp-for="EditEvent!.Location" name="EditEvent!.Location" type="text" placeholder="@eL["location-placeholder"]" />
        <span asp-validation-for="EditEvent!.Location" class="text-danger"></span>
    </div>

    <div class="row col-md-8 mt-3 mb-lg-5 body-font">
        <label class="form-label" for="ImageUrl">@eL["image-url-label"]</label>
        <input class="form-control" name="ImageUrl" type="file" placeholder="@eL["image-url-placeholder"]" />
        <span asp-validation-for="EditEvent!.ImageUrl" class="text-danger"></span>
    </div>

    <div class="title-icon mt-3 mb-lg-3 subtitle-font">
        <svg class="svg-creation" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        <h2>@eL["date-and-time"]</h2>
    </div>

    <div class="d-flex justify-content-between body-font">
        <div class="row col-sm-3 mt-3">
            <label class="form-label" asp-for="EditEvent!.StartDate">@eL["event-starts-label"]</label>
            <input class="form-control" asp-for="EditEvent!.StartDate" name="EditEvent!.StartDate" type="datetime-local" />
            <span asp-validation-for="EditEvent!.StartDate" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-between body-font mb-lg-5">
        <div class="row col-sm-3 mt-3">
            <label class="form-label" asp-for="EditEvent!.EndDate">@eL["event-ends-label"]</label>
            <input class="form-control" asp-for="EditEvent!.EndDate" name="EditEvent!.EndDate" type="datetime-local" />
            <span asp-validation-for="EditEvent!.EndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-around mt-3">
        <button class="reserve-blue-button btn btn-custom" type="submit">@eL["edit-event"]</button>
        <a href="@Url.Page("ViewAttendees", new {id = Model.Id})" class="reserve-red-button btn btn-custom">@eL["back-to-attendees-button"]</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}