@page "/reschedule-details/{id}"
@model Reserve.Pages.Appointment.RescheduleDetailsModel
@using Microsoft.Extensions.Localization
@using Reserve.Core.Features.Appointment
@using Reserve.Core
@inject IStringLocalizer<AppointmentLocalization> aL
@inject IStringLocalizer<Global> gL
<div class="modal fade" id="declineAppointment" tabindex="-1" aria-labelledby="declineAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex flex-column align-items-center m-3">
                <h1 class="modal-title fs-5 notification-title d-flex justify-content-center m-3" id="declineAppointmentLabel">@aL["decline-request"]</h1>
                <div class="notification-border d-flex justify-content-center">
                    <p class="notification-text p-3">@aL["decline-request-confirmation"]</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around border-0">
                <form method="post" asp-page-handler="Decline">
                    <button data-bs-dismiss="modal" class="dashboard-items btn reserve-red-button m-0 m-sm-3">@gL["decline"]</button>
                </form>
                <button type="button" data-bs-dismiss="modal" class="btn reserve-blue-button">@gL["no"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptAppointment" tabindex="-1" aria-labelledby="acceptAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex flex-column align-items-center m-3">
                <h1 class="modal-title fs-5 notification-title d-flex justify-content-center m-3" id="acceptAppointmentLabel">@aL["accept-request"]</h1>
                <div class="notification-border d-flex justify-content-center">
                    <p class="notification-text p-3">@aL["accept-request-confirmation"]</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around border-0">
                <form method="post" asp-page-handler="Accept">
                    <button data-bs-dismiss="modal" class="dashboard-items btn reserve-red-button m-0 m-sm-3">@gL["accept"]</button>
                </form>
                <button type="button" data-bs-dismiss="modal" class="btn reserve-blue-button">@gL["no"]</button>
            </div>
        </div>
    </div>
</div>

@if (Model.RescheduleDetails is not null && Model.RescheduleDetails.RescheduleStatus == RescheduleState.Pending)
{
    <div class="d-flex flex-column justify-content-center align-items-center align-items-center">
        <div class="notification-border d-flex flex-column align-items-center align-content-center">
            <h1 class="container notification-title mb-5">@aL["reschedule-request-from"] @Model.RescheduleDetails.RequestedTime.AppointmentCalendar?.Name</h1>
            <div class="d-flex flex-column justify-content-evenly align-content-center align-items-center w-100">
                <div class="d-flex flex-column justify-content-center align-content-center align-items-center mb-5 col-12">
                    <div class="d-flex col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
                        <div class="d-flex flex-column justify-content-evenly align-items-center mb-lg-5 col-12">
                            <p class="notification-text">@aL["old-slot-start-time"]</p>
                            <p class="notification-text">@Model.RescheduleDetails.OriginalAppointment.Slot?.StartTime.ToLongDateString() @Model.RescheduleDetails.OriginalAppointment.Slot?.StartTime.ToLongTimeString()</p>
                        </div>
                        <div class="d-flex flex-column justify-content-evenly align-items-center mb-lg-5 col-12">
                            <p class="notification-text">@aL["old-slot-end-time"]</p>
                            <p class="notification-text">@Model.RescheduleDetails.OriginalAppointment.Slot?.EndTime.ToLongDateString() @Model.RescheduleDetails.OriginalAppointment.Slot?.EndTime.ToLongTimeString()</p>
                        </div>
                        <div class="d-flex flex-column justify-content-evenly align-items-center mb-lg-5 col-12">
                            <p class="notification-text">@aL["new-slot-start-time"]</p>
                            <p class="notification-text">@Model.RescheduleDetails.RequestedTime.StartTime.ToLongDateString() @Model.RescheduleDetails.RequestedTime.StartTime.ToShortTimeString()</p>
                        </div>
                        <div class="d-flex flex-column justify-content-evenly align-items-center mb-lg-5 col-12">
                            <p class="notification-text">@aL["new-slot-end-time"]</p>
                            <p class="notification-text">@Model.RescheduleDetails.RequestedTime.EndTime.ToLongDateString() @Model.RescheduleDetails.RequestedTime.EndTime.ToShortTimeString()</p>
                        </div>
                        <div class="d-flex flex-column justify-content-evenly align-items-center col-12">
                            <p class="notification-text">@aL["appointer-email"]</p>
                            <p class="notification-text">@Model.RescheduleDetails.RequestedTime.AppointmentCalendar?.Email</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-lg-row flex-column justify-content-evenly col-12">
                    <button type="submit" class="dashboard-items btn reserve-blue-button m-0 m-sm-3" data-bs-toggle="modal" data-bs-target="#acceptAppointment">@gL["accept"]</button>
                    <button class="dashboard-items btn reserve-red-button m-0 m-sm-3" data-bs-toggle="modal" data-bs-target="#declineAppointment">@gL["decline"]</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="notification-title d-flex justify-content-center">@gL["no-reschedule-request-found"]</h1>
}