@page "/user-dashboard/{id}"
@model Reserve.Pages.Appointment.UserAppointmentDashboardModel
@using Reserve.Core.Features.Appointment
@using Microsoft.Extensions.Localization
@using Reserve.Core
@inject IStringLocalizer<AppointmentLocalization> aL
@inject IStringLocalizer<Global> gL
@Html.AntiForgeryToken()

@if (TempData["reschedule-request"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options.closeButton = true;
        toastr.info('@TempData["reschedule-request"]');
    </script>
}

@if (TempData["check"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options.closeButton = true;
        toastr.error('@TempData["check"]');
    </script>
}

<div class="modal fade" id="cancelAppointment" tabindex="-1" aria-labelledby="cancelAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex flex-column align-items-center m-3">
                <h1 class="modal-title fs-5 notification-title d-flex justify-content-center m-3" id="closeAppointmentLabel">@aL["cancel-appointment"]</h1>
                <div class="notification-border d-flex justify-content-center">
                    <p class="notification-text p-3">@aL["cancel-appointment-confirmation"]</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around border-0">
                <button type="button" hx-delete="/cancel-appointment/@Model.Id" hx-headers='js:{"X-CSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value}' class="btn reserve-red-button" data-bs-dismiss="modal">@gL["yes"]</button>
                <button type="button" data-bs-dismiss="modal" class="btn reserve-blue-button">@gL["no"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rescheduleAppointment" tabindex="-1" aria-labelledby="rescheduleAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="d-flex flex-column align-items-center m-3">
                    <h1 class="modal-title fs-5 notification-title d-flex justify-content-center m-3" id="closeAppointmentLabel">@aL["reschedule-appointment"]</h1>
                    <div class="container d-flex justify-content-center mb-5">
                        <div class="notification-border d-flex justify-content-center">
                            <p class="notification-text p-3">@aL["choose-free-slot"]</p>
                        </div>
                    </div>
                    <div class="container form-group d-flex justify-content-evenly">
                        <label class="d-flex align-items-center" asp-for="SelectedDate">@aL["new-date"]</label>
                        @Html.DropDownListFor(model => model.SelectedDate, new SelectList(Model.FreeSlots), new { @class = "form-control w-50" })
                    </div>
                </div>
                <div class="modal-footer mb-3 d-flex justify-content-around border-0">
                    <button type="submit" class="btn reserve-red-button" data-bs-dismiss="modal">@aL["reschedule"]</button>
                    <button type="button" data-bs-dismiss="modal" class="btn reserve-blue-button">@aL["back"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.AppointmentDetails?.AppointmentStatus == AppointmentState.Done)
{
    <div class="alert alert-success" role="alert">
        @aL["already-finished-appointment"]
    </div>
}
@if (Model.AppointmentReschedule is not null)
{
    <div class="alert alert-warning" role="alert">
        @aL["new-reschedule-request"]
    </div>
}

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card border rounded mt-4 col-8">
            <div class="card-body text-center">
                <h1 class="display-4 text-center mb-4">@aL["appointment-details"]</h1>
                <div class="d-flex flex-column justify-content-evenly align-content-center align-items-center w-100">
                    <div class="d-flex flex-column justify-content-center align-content-center align-items-center mb-5 col-12">
                        <div class="d-flex col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
                            <div class="d-flex flex-column justify-content-evenly mb-lg-5">
                                <p class="notification-text d-flex justify-content-center">@aL["calendar-creator-name"]</p>
                                <p class="notification-text d-flex justify-content-center">@Model.AppointmentDetails?.Slot?.AppointmentCalendar?.Name</p>
                            </div>
                            <div class="d-flex flex-column justify-content-evenly mb-lg-5">
                                <p class="notification-text d-flex justify-content-center">@aL["calendar-creator-email"]</p>
                                <p class="notification-text d-flex justify-content-center">@Model.AppointmentDetails?.Slot?.AppointmentCalendar?.Email</p>
                            </div>
                            <div class="d-flex flex-column justify-content-evenly mb-lg-5">
                                <p class="notification-text d-flex justify-content-center">@aL["appointment-start-date"]</p>
                                <p class="notification-text d-flex justify-content-center">@Model.AppointmentDetails?.Slot?.StartTime</p>
                            </div>
                            <div class="d-flex flex-column justify-content-evenly">
                                <p class="notification-text d-flex justify-content-center">@aL["appointment-end-date"]</p>
                                <p class="notification-text d-flex justify-content-center">@Model.AppointmentDetails?.Slot?.EndTime</p>
                            </div>
                        </div>
                    </div>
                    @if (Model.AppointmentDetails?.AppointmentStatus != AppointmentState.Done)
                {
                    <div class="d-flex flex-column col-12">
                            <div class="d-flex flex-lg-row flex-column justify-content-evenly col-12">
                                @if (Model.FreeSlots.Count > 0)
                            {
                                <a class="dashboard-items btn reserve-blue-button m-0 m-sm-3" data-bs-toggle="modal" data-bs-target="#rescheduleAppointment">@aL["reschedule"]</a>
                            }
                            else
                            {
                                <p class="dashboard-items m-0 m-sm-3 d-flex align-items-center notification-text">@aL["no-slots-for-rescheduling"]</p>
                            }
                                <a href="@Url.Page("RescheduleDetails", new {id = Model.Id})" class="dashboard-items btn reserve-blue-button m-0 m-sm-3">@aL["view-reschedule-requests"]</a>
                                <a class="dashboard-items btn reserve-red-button m-0 m-sm-3" data-bs-toggle="modal" data-bs-target="#cancelAppointment">@aL["cancel-appointment"]</a>
                            </div>
                        </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>
